<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="wrapper" layout:fragment="content" th:remove="tag">

        <div id="page-wrapper" style="margin-bottom:50px; width:100%; margin-left:0px;">
            <div class="row">
                <div class="col-lg-20">
                    <h1 class="page-header">Vagas</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Cadastro de Vagas
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" th:action="@{../vaga/save}" th:object="${vaga}" method="POST">
                                        <div class="form-group">
                                            <label>Código</label>
                                            <input class="form-control" th:field="*{codigo}">
                                        </div>
                                        <div class="form-group">
                                            <label>Descrição</label>
                                            <input class="form-control" th:field="*{descricao}">
                                        </div>
                                        <div class="form-group">
                                        <label>Unidade de Lotação</label>
					                    <select th:field="*{unidadeLotacao.id}" class="form-control">
					                         <option value="0"> -- SELECIONE -- </option>
					                         <option th:each="unidade : ${unidades}"
					                            th:value="${unidade.id}"
					                            th:utext="${unidade}"/>
					                    </select>
							 			</div>
                                        <div class="form-group">
                                        <label>Cargo</label>
					                    <select th:field="*{cargo.id}" class="form-control">
					                         <option value="0"> -- SELECIONE -- </option>
					                         <option th:each="cargo : ${cargos}"
					                            th:value="${cargo.id}"
					                            th:utext="${cargo.descricao}"/>
					                    </select>
							 			</div>

							 			<div class="form-group">
                                        <label>Ramo</label>
					                    <select th:field="*{ramo.id}" class="form-control">
					                         <option value="0"> -- SELECIONE -- </option>
					                         <option th:each="ramo : ${ramos}"
					                            th:value="${ramo.id}"
					                            th:utext="${ramo.descricao}"/>
					                    </select>
							 			</div>
							 			<div class="form-group">
                                        <label>Setor</label>
					                    <select th:field="*{setor.id}" class="form-control">
					                         <option value="0"> -- SELECIONE -- </option>
					                         <option th:each="setor : ${setores}"
					                            th:value="${setor.id}"
					                            th:utext="${setor.descricao}"/>
					                    </select>
							 			</div>
							 			<div class="form-group">
                                        <label>Etapa</label>
					                    <select th:field="*{etapa.id}" class="form-control">
					                         <option value="0"> -- SELECIONE -- </option>
					                         <option th:each="etapa : ${etapas}"
					                            th:value="${etapa.id}"
					                            th:utext="${etapa.descricao}"/>
					                    </select>
							 			</div>
                                        <div class="form-group">
                                            <label>Salário</label>
                                            <input class="form-control" th:field="*{salario}">
                                        </div>
                                        <div class="form-group">
                                            <label>Carga Horária</label>
                                            <input class="form-control" th:field="*{cargaHoraria}">
                                        </div>
                                        <div class="form-group">
                                            <label>Vaga Aberta?</label>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="radioVaga" value="true" checked>Sim
                                                </label>
                                                 <label>
                                                    <input type="radio" name="radioVaga" value="false">Não
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Observação:</label>
                                            <textarea class="form-control" rows="3" th:field="*{observacao}"></textarea>
                                        </div>
                                        <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                                        <button type="reset" class="btn btn-default">Reset Button</button>
                                        </div>
                                    </form>
                                </div>
                              
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../../js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../js/sb-admin-2.js"></script>

</body>

</html>
