<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Mercale Talentos - Cadastro de Vagas</title>

<!-- Bootstrap Core CSS -->
<link href="../../css/bootstrap.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="../../css/metisMenu.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="../../css/sb-admin-2.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../../css/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">

</head>

<body>
	<div id="wrapper" layout:fragment="content" th:remove="tag">
		<div id="page-wrapper" style="margin-bottom: 50px; margin-top: 0px; width: 100%; margin-left: 0px;">
			<!-- /.row -->
			<div class="row">
					<div class="panel panel-info" style="margin-top:10px;">
                        <div class="panel-heading">
                            <b>Vagas</b>
                        </div>
                        <div class="panel-body">
                     <div class="row">
                            	<div class="col-lg-12">
									<form role="formBtn" th:action="@{/vaga/form}" method="GET">
				                      <button type="button" class="btn btn-outline btn-primary btn-lg" disabled="true"><i class="fa fa-list"></i> Listar Vagas</button>
				                      <button type="submit" class="btn btn-outline btn-primary btn-lg"><i class="fa fa-plus"></i>Cadastrar Vaga</button>
			                   		</form>
                            	</div>
                        <form role="form" th:action="@{../vaga/list}" th:object="${vaga}" method="GET">
                            	<div class="col-lg-12" id="panelMensagem">
									<div id="panelMensagens" class="panel-primary alert alert-info" th:if="${msgSucesso != null}" style="margin-bottom:5px; margin-top:10px;">
										<a href="#" title="Fechar Mensagem" class="fa fa-times" style="float:right;color:black;" 
				                                 onclick="document.getElementById('panelMensagens').style.display='none';"></a>
										<b th:text="${msgSucesso}"></b>
									</div>
                            	</div>
                            	<div class="col-lg-10" id="panelFiltros" style="width:80%; margin-left:10%; margin-top:2%; margin-bottom:2%;">
									<div class="panel panel-body panel-info">
										<div class="panel-heading" style="text-align:center;">
											<b>FILTROS</b>
										</div>
										<div class="col-lg-10" style="margin-bottom:5px; margin-top:10px; width: 100%">
                                            <label>Descrição</label>
                                            <textarea class="form-control" th:field="*{descricao}"></textarea>
                                        </div>
                                        <div class="col-lg-10"  style="margin-bottom:5px; margin-top:10px; width: 50%">
                                        <label>Unidade de Lotação</label>
					                    <select th:field="*{unidadeLotacao.id}" class="form-control">
					                         <option value="0"> -- SELECIONE -- </option>
					                         <option th:each="unidade : ${unidades}"
					                            th:value="${unidade.id}"
					                            th:utext="${unidade}"/>
					                    </select>
							 			</div>
                                        <div class="col-lg-10" style="margin-bottom:5px; margin-top:10px; width: 50%" >
                                        <label>Ramo</i></label>
					                    <select th:field="*{ramo.id}" class="form-control">
					                         <option value="0"> -- SELECIONE -- </option>
					                         <option th:each="ramo : ${ramos}"
					                            th:value="${ramo.id}"
					                            th:utext="${ramo.descricao}"/>
					                    </select>
							 			</div>
							 			<div class="col-lg-10" style="margin-bottom:5px; margin-top:10px; width: 50%">
                                        <label>Setor</label>
					                    <select th:field="*{setor.id}" class="form-control">
					                         <option value="0"> -- SELECIONE -- </option>
					                         <option th:each="setor : ${setores}"
					                            th:value="${setor.id}"
					                            th:utext="${setor.descricao}"/>
					                    </select>
							 			</div>
									   <div class="col-lg-10" style="margin-bottom:5px; margin-top:10px; width: 50%">
                                        <label>Cargo</label>
					                    <select th:field="*{cargo.id}" class="form-control">
					                         <option value="0"> -- SELECIONE -- </option>
					                         <option th:each="cargo : ${cargos}"
					                            th:value="${cargo.id}"
					                            th:utext="${cargo.descricao}"/>
					                    </select>
							 			</div>
										<div class="col-lg-6" style="margin-bottom:5px; margin-top:10px; width: 100%">
                                            <label>Vaga Aberta?</label>
                                            <label style="margin-top: 5px;">
                                            	<input style="margin:5px;" type="radio" th:field="*{vagaAberta}" th:each="val : ${radioList}" th:value="${val}" th:utext="${val}?SIM:NÃO" />
                                            </label>
                                        </div>
                                        <div class="col-lg-10" style="margin-bottom:5px; margin-top:10px; text-align:center; width:100%">
                                          <button type="button" class="btn btn-outline btn-primary btn-lg"><i class="fa fa-search"></i> Buscar</button>
				                      	  <button type="reset" class="btn btn-outline btn-default btn-lg"><i class="fa fa-times"></i> Cancelar</button>
				                      	</div>	
									</div>	                            	
                            	</div>
                            	
                            	<div class="col-lg-12" id="panelListagem">
                            		<div class="panel panel-default " style="text-align:center;margin-top:0px;">
										<div class="panel-heading" style="color:black;">
											<i class="fa fa-search" style="color:purple;"></i><b> :Visualizar Vaga </b>
											<i class="fa fa-pencil" style="color:green;"></i><b> :Editar Vaga </b>
											<i class="fa fa-trash-o" style="color:red;"></i><b> :Excluir Vaga </b>
										</div>
		                            	<div class="panel panel-info">
		                            		<div class="panel-heading">
												<b style="text-align:center;">Vagas Abertas</b>
											</div>
										<div>	
									</div>
									<table width="100%" class="table table-striped table-hover" id="dataTables-example">
		                                <thead>
		                                    <tr>
		                                        <th width="5%">Código</th>
		                                        <th>Ramo</th>
		                                        <th width="15%">Cargo</th>
		                                        <th >Setor</th>
		                                        <th>Unidade de Lotação</th>
		                                        <th width="10%">Encerramento</th>
		                                        <th width="13%;" colspan="2" style="text-align:center;">Ações</th>
		                                    </tr>
		                                </thead>
		                                <tbody>
		                                    <tr class="odd gradeX" th:each="vaga : ${vagas}">
		                                        <td style="text-align:left;"><p th:utext="${vaga.codigo}"></td>
		                                        <td style="text-align:left;"><p th:utext="${vaga.ramo.descricao}"></p></td>
		                                        <td style="text-align:left;"><p th:utext="${vaga.cargo.descricao}"></p></td>
		                                        <td style="text-align:left;"><p th:utext="${vaga.setor.descricao}"></p></td>
		                                        <td style="text-align:left;"><p th:utext="${vaga.unidadeLotacao}"></p></td>
		                                        <td style="text-align:center;"><p th:utext="${vaga.dataEncerramento}"></p></td>
		                                        <td>
												<div>
													<a title="Visualizar Vaga" class="btn btn-default" style="margin:0px;" th:href="@{/edit/{id}(id=${vaga.id})}" ><i style="color:purple;" class="fa fa-search"></i></a>
													<a title="Editar Vaga" class="btn btn-default" style="margin:0px;" th:href="@{editar/{id}(id=${vaga.id})}" ><i style="color:green;" class="fa fa-pencil"></i></a>
													<a title="Excluir Vaga" class="btn btn-default" style="margin:0px;" th:href="@{/vaga/delete/{id}(id=${vaga.id})}"><i style="color:red;" class="fa fa-trash-o"></i></a>
											   </div>
												</td>
		                                    </tr>
		                                </tbody>
		                            </table>
                            	</div>
                           	 </div>
                         </div>
                       </form>
                   </div>    
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- /#wrapper -->

	<!-- jQuery -->
	<script src="../../js/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="../../js/bootstrap.min.js"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script src="../../js/metisMenu.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="../../js/sb-admin-2.js"></script>

</body>

</html>